.button {
    background-color: blue; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .myDiv {
  border: 5px outset blue;
  background-color: blue;
  padding: 35px 70px;
  }
  .topnav {
  overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
  display: block;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
  color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
  background-color: #04AA6D;
  color: white;
  }
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  }
  .bg-img {
  /* The image used */
  background-image: url("doc1.jpg");
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  position:bottom;
  }
  
  /* Add styles to the form container */
  .container {
  margin-left: 20rem;
  max-width: 300px;
  padding: 100px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  }
  
  input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  }
  
  .btn:hover {
  opacity: 1;
  }